{% set title = "SEOmatic" %}
{% extends "guide/_layout" %}

{% block inner_content %}
	<p>SEOmatic is a plugin used to manage your website SEO information. To manage SEO data such as keywords and meta descriptions, select <strong>SEOmatic</strong> on the <strong>Craft Main Navigation</strong>:</p>

	<figure class="g-max-w-7xl">
		<img src="{{ images }}/seomatic.png">
	</figure>

	<h2>Dashboard</h2>
	<p>The <strong>dashboard view</strong> provides you with a high-level overview of your website SEO settings and progress for global items, content-specific pieces, and overall site settings.</p>

	<h2>Global SEO</h2>
	<p>The <strong>global SEO view</strong> is where you will edit the global SEO settings for your website. This is an important step to be set-up with your agency prior to your website launch. Once your website is live, even if you do not add any other SEO information to your website pages, these default global settings can be used for your entire site by search engines such as Google.</p>

	<h2>Content SEO</h2>
	<p>The <strong>content SEO view</strong> is where you can provide page specific SEO information, which will allow search engines to use that information for keywords and meta description instead of the global SEO view. This is typically recommended for top trafficked pages.</p>

	<h2>Site Settings</h2>
	<p>The <strong>site settings view</strong> includes high-level website and organization information. This is important for search engines to have another source of information to validate your website and organization information such as address, phone numbers, and other searchable information.</p>

	<h2>Tracking Scripts</h2>
	<p>If desired, standard website tracking scripts can be added to the <strong>tracking scripts view</strong> through your Craft CMS instance. In most instances, these are added to the website code by developers before your website launches. If you want to use these options under settings, you can turn each on and fill in the relevant information.</p>

	<hr>

	<p>For more about SEOmatic, consult the <a href="https://nystudio107.com/docs/seomatic/">plugin documentation</a>.</p>
{% endblock %}
